.purpose {
  position: relative;

  &__triangle {
    top: unset;
    bottom: -1001px;
  }
  &__h2 {
  }

  &__inner {
    @include max-w($tablets) {
      padding-left: 25px;
      padding-right: 25px;

      &::after,
      &::before {
        display: block;
      }
    }
  }

  &__list-wrap {
    @include max-w($tablets) {
      overflow: auto;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    @include max-w($tablets) {
      flex-wrap: nowrap;
      width: fit-content;
    }
  }

  &__item {
    width: 50%;

    @include max-w($tablets) {
      min-width: 240px;
      width: calc(100vw - 80px);
    }
  }

  &__link {
    display: block;
    padding: 40px;
    height: 100%;
    border: 1px solid #7d7d7d;
    transition: background-color 0.3s;

    @include max-w($desktops-md) {
      padding: 15px;
    }

    &:hover {
      background-color: #797548;

      .purpose__hover {
        background-color: rgba(#797548, 0.58);
      }

      .purpose__label {
        transform: rotateX(0);
      }
    }
  }

  &__img-wrap {
    position: relative;
    margin-bottom: 30px;
    height: 482px;

    @include max-w($desktops-sm) {
      height: 285px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 38px 30px;
    transition: background-color 0.3s;
    gap: 22px;

    @include max-w($desktops-sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__label {
    padding: 12px 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    background-color: rgba(15, 15, 15, 0.48);
    transition: transform 0.3s;
    transform: rotateX(90deg);

    @include max-w($desktops-sm) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;

    @include max-w($desktops-md) {
      font-size: 22px;
      line-height: 27px;
    }

    @include max-w($desktops-sm) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
