.slider {
  width: 100%;
  position: relative;

  &__swiper {
    margin-bottom: 33px;
    display: flex;
    width: 100%;

    @include max-w($desktops-md) {
      margin-bottom: 15px;
    }
  }

  &__list {
  }

  &__slider-item {
    display: flex;
  }

  &__img-wrap {
    width: 100%;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      transition: background-color 0.3s;
    }

    &:hover::after {
      background-color: rgba(121, 117, 72, 0.2);
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include max-w($desktops-md) {
      height: 550px !important;
    }

    @include max-w($tablets) {
      height: 400px !important;
    }
  }

  &__thumb-slider {
    width: 100%;
  }

  &__thumb-list {
  }

  &__thumb-item {
  }

  &__thumb-wrap {
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      transition: background-color 0.3s;
    }

    &:hover::after {
      background-color: rgba(121, 117, 72, 0.2);
    }
  }

  &__thumb-img {
    height: 150px;
    width: 100%;
    object-fit: cover;

    @include max-w($desktops-md) {
      height: 100px;
    }
  }
}
