.object-info {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

  &__triangle {
    top: -317px;
  }

  &__container {
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: $desktops-xl) {
      margin-right: 0;
      padding-right: 0;
      max-width: calc(50% - 10px + 762px + 75px);
    }
    @include max-w($tablets) {
      padding: 0;
    }
  }

  &__inner {
    display: flex;
    gap: 20px;

    @include max-w($desktops-md) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 740px;
    width: 100%;
    height: fit-content;
    @include max-w($desktops-xl) {
      flex-shrink: 0;
    }

    &:nth-child(2) {
      max-width: unset;
      background-color: #393737;

      @include max-w($desktops-xl) {
        flex-shrink: 1;
      }

      @include max-w($desktops-md) {
        max-width: 740px;
      }
    }
  }

  &__slider {
  }

  &__info {
    padding: 100px 75px;
    @include max-w($desktops-xl) {
      padding: 80px 35px;
    }

    @include max-w($tablets) {
      padding: 40px 20px;
    }
  }

  &__rows {
    margin-bottom: 80px;
  }

  &__row {
    display: flex;
    padding-bottom: 45px;
    border-bottom: 1px solid #d9d9d9;
    gap: 40px;
    margin-bottom: 46px;
    max-width: 660px;

    @include max-w($desktops-xl) {
      flex-direction: column;
    }

    @include max-w($desktops-md) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__row-item {
    max-width: 308px;
    width: 100%;
    padding-left: 92px;
    position: relative;
    min-height: 65px;
    padding-top: 4px;

    @include max-w($tablets) {
      padding-top: 8px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 65px;
      height: 65px;
      background-color: #f29d39;
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;
  }

  &__text-wrap {
    font-size: 24px;
    line-height: 29px;
    @include max-w($tablets) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__title {
    font-weight: 700;
    display: block;
  }

  &__text {
    font-weight: 300;
    display: block;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__btn {
  }

  .slider__thumb-img {
    @media (min-width: $desktops-md) {
      height: 165px;
    }
  }
}
