.quiz {
  min-height: 100vh;
  background-image: url(../img/quiz-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 140px;

  @include max-w($desktops-sm) {
    padding-top: 100px;
  }

  @include max-w($tablets) {
    padding-top: 60px;
  }

  &__container {
    max-width: unset;
  }

  &__title > * {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #000;

    @include max-w($desktops-sm) {
      font-size: 32px;
      line-height: 36px;
    }

    @include max-w($desktops-sm) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__inner {
  }

  &__list {
  }

  &__item-inner {
    position: relative;
    padding-top: 35px;
    padding-bottom: 130px;

    @include max-w($desktops-sm) {
      padding-bottom: 100px 0 80px;
    }

    @include max-w($tablets) {
      padding-bottom: 60px 0 40px;
    }
  }

  &__item:first-child .quiz__answer-list {
    max-width: 1380px;
  }
  &__item:nth-last-child(2) .quiz__answer-list {
    justify-content: flex-start;
  }

  &__item:last-child .quiz__answer-list {
    padding-top: 30px;
    justify-content: flex-end;
    margin-left: 0;
    max-width: 1253px;
    padding-left: 306px;
    position: relative;
    z-index: 2;

    @include max-w($tablets) {
      padding-left: 0;
      justify-content: center;
      gap: 15px;
    }
  }

  &__h2 > * {
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    max-width: 930px;
    margin: 0 auto 40px;

    @include max-w($desktops-sm) {
      font-size: 28px;
      line-height: 33px;
    }

    @include max-w($desktops-sm) {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__answer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 30px;
    min-height: 300px;
    max-width: 1201px;
    margin: 0 auto 40px;

    @include max-w($desktops-sm) {
      justify-content: center;
    }

    @include max-w($tablets) {
      justify-content: center;
      gap: 15px 10px;
    }
  }

  &__answer-item {
  }

  &__answer-label {
    display: block;
  }

  &__answer-radio:checked + &__answer-type,
  &__answer-radio:focus + &__answer-type {
    background-color: #797548;
    color: #fff;

    .type-angar__img {
      opacity: 0;
    }

    .type-angar__img--hover {
      opacity: 1;
    }
  }

  &__answer-type {
    width: 320px;
    @include max-w($desktops-sm) {
      width: calc(50vw - 20px - 15px);
    }

    @include max-w($tablets) {
      width: calc(50vw - 15px - 5px);
      font-size: 14px;
      padding-top: 30px;
      padding-bottom: 30px;

      img {
        height: unset;
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    gap: 33px;

    @include max-w($tablets) {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 10px;
      * {
        width: unset;
      }
    }
  }

  &__checkbox:checked + &__checkbox-body,
  &__checkbox:focus + &__checkbox-body {
    background-color: #1f674d;
    color: #fff;
  }

  &__checkbox:checked + &__checkbox-body &__checkbox-fake {
    background-color: #373734;
    border-color: transparent;
  }

  &__checkbox:checked + &__checkbox-body svg {
    opacity: 1;
  }

  &__checkbox-body {
    position: relative;
    text-align: center;
    width: 367px;
    max-width: 100%;
    padding: 23px 10px;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
    font-weight: 300;

    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;

    @include max-w($desktops-sm) {
      width: calc(50vw - 20px - 15px);
    }

    @include max-w($tablets) {
      width: calc(100vw - 30px);
      min-height: 70px;
      font-size: 14px;
      line-height: 17px;
    }

    &:hover {
      background-color: #1f674d;
      color: #fff;
    }

    svg {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &--box-icon {
      &::after {
        content: "";
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;
        background-color: #fff;
        border: 1px solid #ddd;

        @include max-w($tablets) {
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__checkbox-fake {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -22px;
    left: 42px;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: background-color 0.3s, border-color 0.3s;

    @include max-w($tablets) {
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__checkbox-text {
  }

  &__box-icon {
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;

    @include max-w($tablets) {
      left: 34px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__box-text {
  }

  &__text {
    color: #000;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 930px;
    margin: 0 auto 30px;
  }

  &__number-box {
    width: 367px;
    max-width: 100%;
    display: flex;
    gap: 16px;
    @include max-w($desktops-sm) {
      width: calc(100vw - 30px);
      justify-content: center;
    }
  }

  &__number-label {
    max-width: 305px;
    width: 100%;
    padding: 10px 25px;
    min-height: 100px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  &__input-name {
    text-transform: uppercase;
    margin-right: auto;
  }

  &__input-number {
    width: 60px;
    text-align: right;
    border: 0;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__number-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  &__number-btn {
    @include no-btn;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #828282;
    transition: background-color 0.3s;
    color: #fff;
    font-size: 22px;

    &--plus {
      &:focus,
      &:hover {
        background-color: #3d3d3d;
      }
    }

    &--minus {
      background-color: #bdbdbd;
      &:focus,
      &:hover {
        background-color: #939393;
      }
    }
  }

  &__input-place {
    min-height: 100px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 870px;
    max-width: 100%;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
  }

  &__input-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000;
    border: 1px solid #ddd;
    width: 390px;
    max-width: 100%;
    display: block;
    height: 93px;
    padding: 10px 40px;

    &::placeholder {
      text-transform: uppercase;
    }
  }

  &__last-btn {
    padding: 10px 40px;
    min-height: 93px;
    width: 390px;
    max-width: 100%;
  }

  &__file-label {
  }

  &__input-file {
  }

  &__file-text {
  }

  &__img {
    position: absolute;
    bottom: -85px;
    left: -205px;
    width: 1106px;
    height: 737px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: 1;

    @include max-w($tablets) {
      display: none;
    }
  }

  .clear {
    padding-bottom: 0;
  }
}
