.geography {
  position: relative;
  z-index: 0;

  &__triangle {
    top: unset;
    width: 39%;
    bottom: -1000px;
    z-index: 2;
  }

  &__h2 {
  }

  &__body {
    position: relative;
  }

  &__map {
    position: relative;
    height: 870px;
    z-index: 1;
    @include max-w($desktops-sm) {
      height: 414px;
    }

    & > * {
      position: relative;
      height: 100% !important;
    }
  }

  &__marker {
    display: inline-block;
    width: 51px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--orange {
      width: 77px;
      height: 97px;
    }
  }

  &__baloon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(180px);
    z-index: 2;

    @include max-w($desktops-lg) {
      left: unset;
      transform: translateY(-50%);
      right: 20px;
    }
  }
}
