.reasons {
  position: relative;
  &__triangle {
    top: -640px;
  }

  &__h2 {
  }

  &__inner {
    @include max-w($tablets) {
      &::after,
      &::before {
        display: block;
      }
    }
  }

  &__list-wrap {
  }

  &__list {
    display: flex;
    gap: 60px 30px;
    flex-wrap: wrap;
    padding-top: 27px;

    @include max-w($desktops-lg) {
      gap: 40px 20px;
      justify-content: center;
    }

    @include max-w($tablets) {
      gap: 0;
      flex-wrap: nowrap;
    }
  }

  &__item {
    min-height: 315px;
    width: calc(100% / 4 - 23px);
    position: relative;

    @include max-w($desktops-lg) {
      min-height: 224px;
      width: calc(100% / 4 - 15px);
    }

    @include max-w($tablets) {
      width: 200px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -27px;
      left: 50%;
      transform: translateX(-50%);
      width: 92px;
      height: 92px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../img/reasons/1.jpg);

      @include max-w($desktops-lg) {
        top: -12px;
        width: 52px;
        height: 48px;
      }
    }

    &--icon-2::after {
      background-image: url(../img/reasons/2.jpg);
    }
    &--icon-3::after {
      background-image: url(../img/reasons/3.jpg);
    }
    &--icon-4::after {
      background-image: url(../img/reasons/4.jpg);
    }
    &--icon-5::after {
      background-image: url(../img/reasons/5.jpg);
    }
    &--icon-6::after {
      background-image: url(../img/reasons/6.jpg);
    }
    &--icon-7::after {
      background-image: url(../img/reasons/7.jpg);
    }
    &--icon-8::after {
      background-image: url(../img/reasons/8.jpg);
    }
  }

  &__item-link {
    display: block;
    background-color: #272727;
    padding: 106px 30px 30px;
    text-align: center;
    transition: background-color 0.3s;
    position: relative;
    height: 100%;

    @include max-w($desktops-lg) {
      padding: 71px 19px 25px;
    }

    &:hover {
      background-color: #474747;
    }
  }

  &__h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 46px;
    margin-bottom: 10px;

    & > * {
      @include max-w($desktops-lg) {
        font-size: 15px;
        line-height: 18px;
      }

      @include max-w($desktops-sm) {
        font-size: 13px;
      }
    }
  }

  &__text {
    font-size: 19px;
    line-height: 23px;

    @include max-w($desktops-lg) {
      font-size: 13px;
      line-height: 16px;
    }
    @include max-w($desktops-sm) {
      font-size: 12px;
    }
  }
}
